.interview_img{
	height: 200px;
	width: auto;
	float: right;
	margin-left: 10px;
	margin-bottom: 5px;
}

.spotlight{
	text-transform: uppercase;
	font-size: 75%;
	color: #FF4A00;
}

.answer{
	margin-top: 5px;
	margin-bottom: 15px;
}
